<div class="container">
    <div class="row">
        <div class="col">
            <label for="timer" class="form-label">Timer ms</label>
            <input type="text" [(ngModel)]="defaultTimer" class="form-control" id="timer" placeholder="Timer ms">
        </div>
        <div class="col">
            <label for="arraySize" class="form-label">Array Size</label>
            <input type="text" [(ngModel)]="defaultSize" class="form-control" id="arraySize" placeholder="Array size">
        </div>
        <div class="col">
            <label for="additionalArray" class="form-label">Timer ms</label>
            <input type="text" [(ngModel)]="additionalIds" class="form-control" id="additionalArray"
                placeholder="Additional Array id's">
        </div>
        <div class="col">
            <div class="btn-group float-right">
                <button class="btn btn-block btn-danger" (click)="stopWorker()">Stop</button>
                <button class="btn btn-block btn-secondary" (click)="intializeB2bWorker(); getData()">Start</button>
            </div>

        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Int</th>
                    <th scope="col">Float</th>
                    <th scope="col">Color</th>
                    <th scope="col">Child</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of result">
                    <td>{{item.id}}</td>
                    <td>{{item.int}}</td>
                    <td>{{item.float}}</td>
                    <td [ngStyle]="{background: item.color}">{{item.color}}</td>
                    <td>
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Color</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{item.child.id}}</td>
                                    <td [ngStyle]="{background: item.child.color}">{{item.child.color}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>